* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #e0e2de; /* fallback for old browsers */
  display: flex;
  justify-content: center;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  background-color: brown;
  position: relative;
  width: 50%;
}

main .first-submain {
  background-color: cornflowerblue;
  display: flex;
}

main .second-submain {
  background-color: rgb(24, 155, 20);
  display: flex;
justify-content: space-between;
}

/* Online Users */

/* .online-users-div {
  background-color: white;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 400px;
  margin-left: 10px;
  padding: 8% 0 0;
  position: relative;
  width: 300px;
  z-index: 1;
} */

.online-users-div {
  background-color: white;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 400px;
  list-style-type: none;
  margin-left: 10px;
  padding: 8% 0 0;
  position: relative;
  width: 300px;
  z-index: 1;
}

/* Chat */
.messages-div {
  background-color: white;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 400px;
  padding: 3px;
  position: relative;
  width: 300px;
  z-index: 1;
}

.messages-div form {
  bottom: 0;
  padding: 3px;
  position: fixed;
  width: 100%;
}

.messages-div form input {
  border: 0;
  margin-right: 0.5%;
  padding: 10px;
  width: 90%;
}

.messages-div form button {
  background: rgb(130, 224, 255);
  border: none;
  cursor: pointer;
  padding: 10px;
  width: 9%;
}

.messages-div p {
  background-color: bisque;
  display: inline-block;
  height: fit-content;
  padding: 5px 10px;
  position: relative;
}

/* .messages-div p:nth-child( odd ) {
  background: #eee;
} */


/* Login */

@import url('https://fonts.googleapis.com/css?family=Roboto:300') ;

.login-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 8% 0 0;
  width: 360px;
}

.login-container .login-form {
  background: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin: 0 auto 100px;
  max-width: 360px;
  padding: 45px;
  position: relative;
  text-align: center;
  z-index: 1;
}

.login-container .login-form button {
  background: #4caf50;
  border: 0;
  color: white;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  margin: 15px;
  outline: 0;
  padding: 15px;
  text-transform: uppercase;
  transition: all 0.3 ease;
  width: 100%;
}

.login-form button:hover , .login-form button:active , .login-form button:focus {
  background: #43a047;
}
