html, body {
    height: 100%;
}

body {
    background-color: aqua;
    max-width: 400px;
    font-family: gotham, arial, helvetica, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0 auto !important;
}
