<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web chat</title>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
  </head>
  <body>
    <h1>Web chat</h1>

    <form id="chat-form">
      <input type="text" name="nickname" placeholder="nome" />

      <input type="text" name="chatMessage" placeholder="mensagem" />

      <ul id="webchat"></ul>

      <button type="submit" id="btn-form">enviar</button>
    </form>

    <script>
      const socket = io('http://localhost:3000');

      const btn = document.querySelector('#btn-form');

      function onSubmit(event) {
        event.preventDefault();
        const nickname = document.querySelector('input[name=nickname').value;
        const userMsg = document.querySelector('input[name=chatMessage').value;
        const msg = `${nickname} - ${userMsg}`;
        console.log(msg);
        socket.emit('message', msg);
      }

      function sendMessage(msg) {
        const ul = document.querySelector('#webchat');
        const li = document.createElement('li');
        const message = document.createTextNode(msg);

        li.append(message);
        ul.appendChild(li);
      }

      btn.addEventListener('click', onSubmit);

      socket.on('message', (msg) => {
        console.log('asdfffffffffffffffffffffffff');

        sendMessage(msg);
      });
    </script>
  </body>
</html>
