<!DOCTYPE html>
<html>
  <head>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
  </head>
  <body>
    <h1>Projeto Webchat</h1>
    <ul id="chat"></ul>

    <script>
      const ul = document.querySelector('#chat');

      const socket = io("http://localhost:3000");
      socket.on("message", (msg) => {
        const li = document.createElement("li");
        li.textContent = msg;
        ul.appendChild(li);
      });
    </script>
  </body>
</html>