<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO - trybe</title>
  </head>
  <body>
    <input id="nickName" placeholder="Insira seu nickname"></input>
    <button id="saveButton">Salvar</button>
    <input id="chatMessage" placeholder="Digite uma nova mensagem aqui"></input>
    <button id="sendButton">Enviar</button>

    <ul id='messages'></ul>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src='./chat.js'></script>
</html>