<!DOCTYPE html>
<html>
    <head>
        <title>Project Webchat - Antônio Schappo</title>
    </head>
    <body>
        <div id="nickname-container">
            <ul id="nickname-list">

            </ul>
            <form id="nickname-form">
                <input type="text" id="nickname-input" data-testid="nickname-box">
                <button type="submit" id="nickname-button" data-testid="nickname-button">Change name</button>
            </form>
        </div>
        <div id="message-container">
            <ul id="messages">
           
            </ul>
        </div>
       
        <form id="send-container">
            <input type= "text" id="message-input" data-testid="message-box" autocomplete="off">
            <button type="submit" id="send-button" data-testid="send-button">Send</button>
        </form>
        <script src="/socket.io/socket.io.js"></script>
        <script src="./js/chat.js"></script>
    </body>
</html>