<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO - trybe</title>
  </head>
  <body>
    <input data-testid="nickname-box" id="nickName" placeholder="Insira seu nickname"></input>
    <button data-testid="nickname-button" id="saveButton">Salvar</button>
    <input data-testid="message-box" id="chatMessage" placeholder="Digite uma nova mensagem aqui"></input>
    <button data-testid="send-button" id="sendButton">Enviar</button>
    <div>
      <% messages.forEach((element) => {  %>
        <p data-testid="message">
          <%=`${element.timestamp} - ${element.nickname}: ${element.message}`%>
        </p>
      <%})%>
    </div>
    <ul id='messages'></ul>
    <aside>
      <ul id='users'></ul>
    </aside>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src='./chat.js'></script>
</html>