<!DOCTYPE html>
<html>
  <head>
    <title>Projeto Webchat</title>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
  </head>
  <body>
    <h1>Web Chat</h1>
    <script>
      const socket = io("http://localhost:3000");
    </script>
  </body>
</html>