<!DOCTYPE html>
<html>
  <head>
    <title>webchat</title>
    <link rel="stylesheet" href="./css/chat.css">
  </head>
  <body>
    <ul id="users-list">
      <li data-testid="online-user" id="currentUser"><%= randomNick %></li>
    </ul>
    <form action="" class="nicknameForm">
      <input data-testid="nickname-box" type="text" id="nicknameInput"/>
      <button data-testid="nickname-button" id='user-update'>Trocar seu nome</button>
    </form>
    <% allMessages.map(({message, nickname, timestamp}) => { %>
      <ul data-testid="message"><%= timestamp + ' - ' + nickname + ': ' + message %></ul>
    <% }) %>
    <ul id="messages"> </ul>
    <form action="" id="messageForm">
      <input id="messageInput" data-testid="message-box" autocomplete="off" />
      <button data-testid="send-button">Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/chat.js"></script>
  </body>
</html>