<!DOCTYPE html>
<html>

<head>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
</head>

<body>
    <h1>Hello, people on internet</h1>
    <span id="username"></span>

    <% history.forEach((element)=> { %> <p data-testid="message">
            <%= ` ${element.timestamp} ${element.nickname} ${element.message}` %>
        </p>
        <% }) %>

            <ul id="online"></ul>

            <ul id="messages"></ul>

            <form>
                <input type="text" id="nicknameInput" data-testid="nickname-box">
                <button type="button" id="nicknameButton" data-testid="nickname-button">New</button>
            </form>

            <form>
                <input type="text" id="messageInput" data-testid="message-box" type="text">
                <button type="button" id="sendButton" data-testid="send-button">Send Message</button>
            </form>

            <script>
                let socket = io("http://localhost:3000");

                let nicknameInput = document.querySelector('#nicknameInput');
                let nicknameButton = document.querySelector('#nicknameButton');
                let username = document.querySelector('#username');
                let messageList = document.getElementById('messages');
                let sendButton = document.querySelector('#sendButton');
                let messageInput = document.querySelector('#messageInput');
                let online = document.querySelector('#online');

                sendButton.addEventListener('click', () => {
                    event.preventDefault();

                    let message = messageInput.value;
                    let chatUsername = username.innerHTML;
                    socket.emit('message', { chatMessage: message, nickname: chatUsername });
                    messageInput.value = '';
                });

                nicknameButton.addEventListener('click', () => {
                    let nickname = nicknameInput.value;

                    username.innerHTML = nickname;
                    socket.emit('updateNickname', nickname);

                    nicknameInput.value = '';
                });

                socket.on("username", (data) => {
                    username.innerHTML = data;
                });

                socket.on("message", (data) => {
                    let message = document.createElement('li');

                    message.innerText = data;
                    message.setAttribute('data-testid', 'message');
                    messageList.appendChild(message);
                });

                socket.on("online", (data) => {
                    online.innerHTML = '';

                    const sessionUser = data.find((element) => element.socketId === socket.id);
                    const teste = document.createElement('li');
                    teste.innerHTML = sessionUser.nickname;
                    teste.setAttribute('data-testid', 'online-user');
                    online.appendChild(teste);

                    const restUsers = data.filter((element) => element.socketId !== socket.id);

                    restUsers.forEach((element) => {
                        const onlineUsers = document.createElement('li');
                        onlineUsers.innerHTML = element.nickname;
                        onlineUsers.setAttribute('data-testid', 'online-user');
                        online.appendChild(onlineUsers);
                    });
                });

            </script>
</body>

</html>