<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Project Webchat</title>
</head>
<body>
  <main>
    <h1>Olá, <span id="nickname"></span></h1>
    <section>
      <section>
        <section>
          <input data-testid="nickname-box" id="username" name="username" placeholder="Digite seu nome de usuário aqui" type="text">
          <button data-testid="nickname-button" id="save" type="button">Salvar</button>
        </section>
        <section>
          <ul id="logged-users"></ul>
        </section>
      </section>
      <section>
        <ul id="sent-messages"></ul>
      </section>
    </section>
    <section>
      <input data-testid="message-box" id="message" name="message" placeholder="Digite sua mensagem aqui" type="text">
      <button data-testid="send-button" id="send" type="button">Enviar</button>
    </section>
  </main>
  
  <script src="./socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    const getUsers = () => {
      const loggedUsersUl = document.getElementById('logged-users');
      return loggedUsersUl.children;
    };

    const getUsername = () => {
      const usernameSpan = document.getElementById('nickname');
      return usernameSpan.innerText;
    };

    const setNickname = (nickname) => {
      const nicknameSpan = document.getElementById('nickname');
      nicknameSpan.innerText = nickname;
    };

    const addLoggedUser = (username) => {
      const loggedUsersUl = document.getElementById('logged-users');
      const newLi = document.createElement('li');

      newLi.dataset.testid = 'online-user';
      newLi.innerText = username;
      loggedUsersUl.append(newLi);
    };

    socket.on('setUsername', (data) => {
      setNickname(data);

      sessionStorage.setItem('username', data);

      addLoggedUser(data);
    });

    socket.on('addLoggedUser', (data) => {
      addLoggedUser(data);

      const username = getUsername();

      socket.emit('addLoggedUser', username);
    });

    const hasLoggedUser = (username) => {
      const users = getUsers();
      for (let index = 0; index < users.length; index += 1) {
        if (users[index].innerText === username) return true;
      }
      return false;
    }

    socket.on('addMissingLoggedUser', (username) => {
      if (!hasLoggedUser(username)) addLoggedUser(username);
    });

    const saveButton = document.getElementById('save');
    saveButton.addEventListener('click', () => {
      const usernameInput = document.getElementById('username');
      const newUsername = usernameInput.value;

      setNickname(newUsername);
      sessionStorage.setItem('username', newUsername);
      socket.emit('updateUsername', newUsername);

      usernameInput.value = '';
    });

    const sendButton = document.getElementById('send');
    sendButton.addEventListener('click', () => {
      const username = sessionStorage.getItem('username') || 'Usuário não identificado';
      const messageInput = document.getElementById('message');
      socket.emit('message', { chatMessage: messageInput.value, nickname: username });
      messageInput.value = '';
      messageInput.focus();
    });

    socket.on('message', (data) => {
      const sentMessagesUl = document.getElementById('sent-messages');
      const newLi = document.createElement('li');

      newLi.dataset.testid = 'message';
      newLi.append(data);
      sentMessagesUl.append(newLi);
    });

    socket.on('updateUsername', ({ oldUsername, newUsername }) => {
      const users = getUsers();
      for (let index = 0; index < users.length; index += 1) {
        if (users[index].innerText === oldUsername) {
          users[index].innerText = newUsername;
          break;
        }
      }
    });

    socket.on('removeUser', (username) => {
      const users = getUsers();
      for (let index = 0; index < users.length; index += 1) {
        if (users[index].innerText === username) {
          users[index].remove();
          break;
        }
      }
    });
  </script>
</body>
</html>