<!doctype html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <form>
      <label for=""></label>
      <input id="" name="" type="" />
      <button type="submit"></button>
    </form>
  </body>
 
</html>