<!DOCTYPE html>
<html>
  <head>
    <title>Project Webchat</title>

</head>
  <body>
    <div class="message">
      <form id="formUser">
        <input
          id="inputUser"
          type="text"
          placeholder="Digite seu Nickname"
          data-testid="nickname-box"
          autocomplete="off"
        />
        <button id="salvar" data-testid="nickname-button"type="submit" >Salvar</button>
      </form>
      <ul id="messages">Mensagens:</ul>
      <div id="containerUsers">
        <ul id="ulUsers"></ul>
      </div>
      <form id="form">
        <input
          id="input"
          type="text"
          autocomplete="off"
          data-testid="message-box"
        />
        <button id="enviar" data-testid="send-button">Send</button>
      </form>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io('http://localhost:3000');

      const form = document.querySelector('#form');
      const input = document.querySelector('#input');
      const ul = document.querySelector('#messages');
      const ulUsers = document.querySelector('#ulUsers');
      const inputUser = document.querySelector('#inputUser');
      const formUser = document.querySelector('#formUser');
      const salvar = document.querySelector('#salvar');

      var nick;

      socket.on('logIn', (nickname) => {
        nick = nickname;
        socket.emit('Nickname', nickname);
      });

      formUser.addEventListener('submit', (e) => {
        e.preventDefault();
        nick = inputUser.value
        console.log(nick, 'nick')
        socket.emit('Nickname', nick);
      });

      socket.on('userOnline', (online) => {
        ulUsers.innerHTML = '';
        const ord = online.sort((a, b) => {
          if (a.id === socket.id) return -1;
          if (b.id === socket.id) return 1;
          return 0;
        })
        ord.forEach(({ nickname }) => {
          var li = document.createElement('li');
          li.innerHTML = nickname;
          li.setAttribute('data-testid', 'online-user');
          ulUsers.appendChild(li);
          window.scrollTo(0, document.body.scrollHeight);
        })
      });

      form.addEventListener('submit', (e) => {
        e.preventDefault();
        // console.log('cliquei')
        if(input.value) {
          socket.emit('message', {
            chatMessage: input.value,
            nickname: inputUser.value,
          });
          input.value = '';
          // console.log('chatMessage' + input.value);
        }
        return false;
      });

      socket.on('message', (msg) => {
        const { date, nickname, chatMessage } = msg
        const li = document.createElement('li');
        li.setAttribute("data-testid", "message");
        li.textContent = msg;
        ul.appendChild(li);
        window.scrollTo(0, document.body.scrollHeight);
      });

      socket.on('history', (msg) => {
        console.log(msg, '<----msg')
        msg.forEach(({timestamp, nickname, message}) => {
          console.log(message)
          const li = document.createElement('li');
          li.setAttribute("data-testid", "message");
          li.textContent = `${timestamp} - ${nickname}: ${message}`;
          // console.log(li, 'esse é o li da mensagem')
          ul.appendChild(li);
        });
      });
      </script>
  </body>
</html> 