<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>WebChat</title>
  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="./styles.css" />
</head>
<body>
  <div class="box">
    <input 
      placeholder="Insira seu nickname" 
      data-testid="nickname-box" 
      id="inputNickname" 
      class="inputNick"
      autocomplete="off" 
    />
    <button 
      class="btnNick" 
      data-testid="nickname-button" 
      id="btnNickname"
    >
      Salvar
    </button>
  </div>
  <div class="box">
    <div>
      <ul id="user">Usuários</ul>
    </div>
    <div>
      <ul id="messages">
          <% allMessages.forEach(({nickname, timestamp, message}) => { %>
          <li data-testid='message'><%=timestamp%> - <%=nickname%>: <%=message%></li>
        <%})%>
      </ul>
    </div>
  </div>
  <br>
  <div class="box">
    <input 
      placeholder="Digite uma nova mensagem aqui" 
      data-testid="message-box" 
      id="inputMessage" 
      class="inputMessage"
      autocomplete="off" 
    />
    <button 
      class="sendButton" 
      id="btnMessage" 
      data-testid="send-button">
      Enviar
    </button>
  </div>
  <script type="text/javascript" src="./scritp.js"></script>
</body>
</html>