<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <style>
      body { margin: 0; padding-bottom: 3rem; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }
    </style>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./script.js"></script>
  </head>
  <body>
    <ul id="users"></ul>
    <!-- ..source: https://github.com/tryber/sd-011-live-lectures/blob/lecture/30.3/views/board.ejs -->
    <ul id="messages">
      <!-- <.% allMessages.forEach(({timestamp, nickname, message}) => { %>
        <li data-testid="message" ><.%= timestamp %> - <.%= nickname %> : <.%= message %></li>
        <.% }) %> -->
    </ul>
    <form id="form-username" action="">
      <input
        id="input-username"
        autocomplete="off"
        placeholder="nickname"
        data-testid="nickname-box"
      />
      <button
        data-testid="nickname-button"
      >
        Send
      </button>
    </form>
    <form id="form" action="">
      <input
        id="input"
        autocomplete="off"
        placeholder="chatMessage"
        data-testid="message-box"
      />
      <button
        data-testid="send-button"
      >
        Send
      </button>
    </form>
  </body>
</html>