<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat</title>
</head>
<body>
  <p data-testid="online-user" id="online-user"><%= nickname %></p>
  <ul id="ul-message">
    <% for(let message of messages) { %>
      <li data-testid="message"><%= message %></li>
    <%} %>
    </ul>
  <form id="form-data"> 
    <input data-testid="message-box" autocomplete="off" id="message-box"/> <button data-testid="send-button" id="send-button">Enviar</button>
    <input data-testid="nickname-box" autocomplete="off" id="nickname-box"/> <button data-testid="nickname-button" id="nickname-button">Salvar</button>
  </form>
  <script src='/socket.io/socket.io.js'></script>
  <script>
    const actualNickname = document.getElementById('online-user');
    const socket = io();
    socket.on('new-client', {nickname: actualNickname.innerText});

    socket.on('message',  createNewMessage);

    const inputForm = document.getElementById('message-box');

    function submitMessage(e) {
      e.preventDefault();
      sendMessage();
      clearInput(inputForm);
    }

    function sendMessage() {
    socket.emit('message', {
      nickname: actualNickname.innerText,
      chatMessage: inputForm.value
    });
    }

    const ulMessages = document.getElementById('ul-message')
    function createNewMessage(content) {
      const newMessageElement = newMessage(content);

      ulMessages.appendChild(newMessageElement);
    }

    function newMessage(content) {
      const element = document.createElement('li');
      element.innerText = content;
      element.dataset.testid = 'message';
      return element;
    }
  
    
    const sendButton = document.querySelector('#send-button');
    const saveNickName = document.querySelector('#nickname-button');

    saveNickName.addEventListener('click', (event) => {
      event.preventDefault();
      const getUser = document.querySelector('#online-user');
      const inputNickName = document.querySelector('#nickname-box');
      if(inputNickName.value === '') {
        getUser.innerHTML = sessionStorage.getItem('userId');
      }
      getUser.innerHTML = inputNickName.value;
      
    });

    sendButton.addEventListener('click', (event) => {
      event.preventDefault();
      const inputMessage = document.querySelector('#message-box');
      const inputNickName = document.querySelector('#nickname-box');
      const getUser = document.querySelector('#online-user');
      const obj = {
        chatMessage: inputMessage.value,
        nickname: getUser.innerText,
      };
      socket.emit('message', obj);
    })

  </script>
</body>
</html>