<!DOCTYPE html>
<html>
  <head>
    <title>Webchat</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js" 
    integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4=" crossorigin="anonymous"></script>
  </head>
  <body>
    <form id="nicknameForm" action="">
      <input
        type="text"
        id="nicknameInput"
        data-testid="nickname-box"
      />
      <button data-testid="nickname-button">
        Change nickname
      </button>
    </form>
    <div>
      <h3 id="user-nickname" data-testid="online-user"></h3>
    </div>
    <div>
      <ul id="users"></ul>
    </div>
    <div>
      <ul id="messages">
        <% messages.forEach(({ message, nickname, timestamp }) => { %>
          <li data-testid="message">
            <%= timestamp %> - <%= nickname %>: <%= message %>
          </li>
        <% }) %>
      </ul>
    </div>
    <form id="messageForm" action="">
      <input
        id="messageInput"
        autocomplete="off"
        data-testid="message-box"
      />
      <button data-testid="send-button">
        Send
      </button>
    </form>
    <script type="text/javascript" src='../js/chat.js'></script>
  </body>
</html>