<html>
  <head>
  </head>
  <body>
    <header>
      <h1>TESTANDO</h1>
    </header>
  </body>
  <!-- ajuda no plantão pelo Johnatas -->
  <!-- <script>src='http://localhost:3000/socket.io/socket.io.js'</script> -->
  <script></script>
</html>