::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  border: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  align-items: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
}

.content-section {
  display: flex;
  height: 90%;
  width: 100%;
}

.users-container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.nick-form {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nick-form input {
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  font-size: 1.3em;
  margin: 10px;
  padding: 3px;
  width: 100%;
}

.nick-form button {
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-size: 1.3em;
  margin: 10px;
  padding: 3px;
  width: 100px;
}

.users {
  display: flex;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.users div {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 100%;
}

.users ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}

.users ul li {
  font-size: 1.3em;
  margin: 20px 40px;
}

.messages-container {
  display: flex;
  width: 70%;
}

.messages-container ul {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}

.messages-container ul li {
  font-size: 1.1em;
  list-style: none;
  margin: 20px 40px;
}

.message-section {
  display: flex;
  height: 10%;
  width: 100%;
}

.message-section form {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.message-section form input {
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  font-size: 1.3em;
  margin: 10px;
  padding: 3px;
  width: 100%;
}

.message-section form button {
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-size: 1.3em;
  margin: 10px;
  padding: 3px;
  width: 100px;
}
