.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 40px;
  width: 100%;
}

.messages-container {
  background-color: silver;
  border-radius: 4px;
  height: 500px;
  list-style: none;
  padding: 24px 16px;
  width: 100%;
}

.chat form {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  width: 100%;
}

.chat form input , .chat form button {
  padding: 8px 16px;
}

.chat form input {
  width: 100%;
}
