body {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.top {
  display: flex;
  margin: 5px;
}

.user-land {
  background-color: brown;
  box-shadow: 3px 3px 3px black;
  height: 300px;
  margin: 5px;
  width: 300;
}

/* .online-users {

} */

.messages {
  background-color: blueviolet;
  box-shadow: 3px 3px 3px black;
  box-sizing: border-box;
  display: flex;
  height: 300px;
  margin: 5px;
  width: 365px;
}

.bottom {
  background-color: crimson;
  box-shadow: 3px 3px 3px black;
  height: 50px;
  width: 100%;
}
