.main-sidebar {
  padding: 40px;
  width: fit-content;
}

.client-infos {
  align-items: center;
  background-color: silver;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  width: 280px;
}

.client-infos img {
  border-radius: 50%;
  margin-bottom: 24px;
}

.online-user {
  margin-bottom: 4px;
}

.online-status {
  font-size: 14px;
  opacity: 80%;
}

.users {
  margin-top: 42px;
}

.users h3 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 24px;
}

.user {
  align-items: center;
  background-color: silver;
  border-radius: 4px;
  display: flex;
  font-size: 15px;
  gap: 16px;
  list-style: none;
  padding: 10px 15px;
}

.user img {
  border-radius: 50%;
}
