body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding-bottom: 3rem;
}

.nickname-container {
  float: left;
}

.nickname-input {
  border: none;
  border-radius: 2rem;
  flex-grow: 1;
  margin: 0.25rem;
  padding: 0.5rem 1rem;
  position: sticky;
  width: 450px;
}

.nickname-list > li {
  list-style-type: none;
  padding: 0.5rem 1rem;
}

.send-container {
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.15);
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  height: 3rem;
  left: 0;
  padding: 0.25rem;
  position: fixed;
  right: 0;
}

.message-input {
  border: none;
  border-radius: 2rem;
  flex-grow: 1;
  margin: 0.25rem;
  padding: 0 1rem;
}

input:focus {
  outline: none;
}

form > button {
  border: none;
  border-radius: 3px;
  color: 'white';
  margin: 0.25rem;
  outline: none;
  padding: 0.15rem;
}

.messages {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.messages > li {
  padding: 0.5rem 1rem;
}

.messages > li:nth-child( odd ) {
  background: #efefef;
}
