<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="./css/chat.css">
  <title>Chat</title>
</head>
<body>
  <h4 id="nickName"></h4>
  <ul id="users"></ul>
    <ul id="messages">
      <% result.forEach((message) => { %>
      <li data-testid="message"><%= `${message.timestamp} - ${message.nickname}: ${message.message}`%></li>
    <% }) %>
  </ul>
  <form action="" id="userForm" className="userForm">
    <input type="text" autocomplete="off" id="userInput" placeholder="Digite seu User" data-testid="nickname-box"/>
    <button data-testid="nickname-button">Send</button>
  </form>
  <ul id="messages" className="messages"></ul>
    <form action="" id="messageForm" className="messageForm">
      <input id="messageInput" autocomplete="off" type="text" placeholder="Digite sua Mensagem" data-testid="message-box"/>
      <button data-testid="send-button">Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <!-- implementação o script do socket.io dentro da página HTML 
    Pode ser usado um link provido pelo CDNJS , que nos dá toda a biblioteca do socket.io 
      para uso no front-end. O link da biblioteca é: 
      https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js . -->
    <script src='./js/chat.js'>
      // link para o arquivo script para o chat.js
    </script> 
</body>
</html>


