* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(243, 69, 69);
  margin: 0;
  padding: 0;
  width: 100%;
}

#input-container {
  display: flex;
  position: relative;
  bottom: 0;
}

.message-div {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Style images */
.message-div img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.message-div img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}
