<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Webchat</title>
  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <section class="chat">
    <div class="nickContainer">
      <input type="text" data-testid="nickname-box" class="nickInput" name="username" placeholder="Digite o seu usuário">
      <button type="submit" data-testid="nickname-button" class="nickButton">Salvar</button>
    </div>
    <div class="container">
      <ul class="onlineUsers"></ul>
      <ul class="messages">
        <% allMessages.forEach(({nickname, timestamp, message}) => { %>
          <li data-testid='message'><%=timestamp%> - <%=nickname%>: <%=message%></li>
        <%})%>
      </ul>
    </div>
    <input type="text" data-testid="message-box" name="message" placeholder="Digite sua mensagem">
    <button class="sendButton" data-testid="send-button">Enviar</button>
  </section>
  <script type="text/javascript" src="script.js">
    
  </script>
</body>
</html>