* {
  background-color: rgb(224, 224, 224);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.nick-container {
  align-items: center;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 20px;
  width: 100%;
}

.nick-container form {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.nick-container input {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 100%; 
  width: 30%;
}

.nick-container button {
  background-color: rgb(25, 114, 92);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  color: white;
  cursor: pointer;
  height: 100%;
  padding-inline: 15px;
}

.message-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  width: 100%;
}

.mess {
  align-items: flex-start;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  overflow: scroll;
  height: 100%;
  width: 100%;
}

.mess p {
  align-items: center;
  display: flex;
  color: white;
  border-radius: 8px;
  justify-content: center;
  margin-bottom: 3px;
  padding: 6px 15px;
  background-color: rgb(25, 114, 92);
  height: 25px;
}

input {
  background-color: white;
  border: none;
  font-size: 0.9em;
  outline: none;
  padding: 0.8em;
  padding-left: 10px;
  width: 100%;
}

input[data-testid="message-box"] {
  width: 100%;
}