.top-container {
  display: flex;
  justify-content: center;
}

.online-users-container {
  margin: 8px;
  width: 30%;
}

.messages-container {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  width: 70%;
}

.online-users {
  border: 1px solid black;
}

form {
  align-items: center;
  display: flex;
  justify-content: center;
}

.input {
  margin: 5px;
  padding: 10px;
  width: 70%;
}

button {
  margin: 5px;
  padding: 10px;
}
