body {
  background-color: rgb(222, 250, 196);
}

.content {
  display: flex;
  flex-direction: row;
}

.messages {
  border: 1px solid rgb black;
  display: flex;
  width: 70%;
}

.users {
  border: 1px solid rgb black;
  display: flex;
  flex-direction: column;
  width: 30%;
}
