<%- include('../partials/head') %>

<header>
  <h1>Web Chat</h1>
</header>

<main>
  <header>
    <h1>Boas vindas, <span data-testid="online-user"><%= nickname %></span></h1>
  </header>
  <section>
    <form id="message-form">
      <label for="message-box">
        Diga algo: 
        <input type="text" id="message-box" data-testid="message-box">
      </label>
    </form>
  </section>
</main>

<script src="/socket.io/socket.io.js"></script>
<script>
  const formElement = document.getElementById('message-form');
  const messageInput = document.getElementById('message-box');
  const socket = io();
  const nickname = "<%= nickname %>";

  formElement.addEventListener('submit', handleSubmit);
  socket.on('message', console.log);

  function handleSubmit(e) {
    e.preventDefault();
    sendMessage();
    clearMessageInput();
  }

  function sendMessage() {
    socket.emit('message', { nickname, chatMessage: messageInput.value });
  }

  function clearMessageInput() {
    messageInput.value = '';
  }
</script>

<%- include('../partials/tail') %>