<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Paulo Freire - Websocket project</title>
</head>
<body>
    <main>
          <span id="nickname" data-testid="online-user"></span>
          <%/*(this is a comment) CODE FROM REQ02 => const nicknameBox = await page.$(`input${dataTestid('nickname-box')}`); */%>
          <input type="text" name="username" id="username" placeholder="USERNAME HERE" data-testid="nickname-box">
          <button type="button" id="user" data-testid="nickname-button">User</button>
          <ul id="logged-users"></ul>
          <ul id="sent-messages"></ul>
          <input type="text" name="message" id="message" placeholder="MESSAGE HERE" data-testid="message-box" data-testid="nickname-button">
          <button type="button" id="send" data-testid="send-button">Message</button>
      </main>

      <script src="./socket.io/socket.io.js"></script>
      <script>
        const PORT = 3000 || process.env.PORT;
        const socket = io(`http://localhost:${PORT}`);
        const userNick = (userName) => {
        const frontNick = document.getElementById('nickname');
        frontNick.innerText = userName;
      };
        socket.on('randomName', (x) => {
          userNick(x);
        sessionStorage.setItem('username', x);
        });
        const saveButton = document.getElementById('user');
        saveButton.addEventListener('click', () => {
          const saveName = document.getElementById('username');
          userNick(saveName.value);
          sessionStorage.setItem('username', saveName.value);
          saveName.value = '';
        });
        const sendButton = document.getElementById('send');
        sendButton.addEventListener('click', () => {
          const userName = sessionStorage.getItem('username') || 'ANONYMOUS';
          const Message = document.getElementById('message');
          socket.emit('message', { chatMessage: Message.value, nickname: userName });
          Message.value = '';
          Message.focus();
        });
        socket.on('message', (data) => {
            const messagesSent = document.getElementById('sent-messages');
            const createLi = document.createElement('li');
            createLi.append(data);
            messagesSent.append(createLi);
    });
    socket.on('message', (data) => {
      const messagesSent = document.getElementById('sent-messages');
      const li = document.createElement('li');
      li.dataset.testid = 'message';
      li.append(data);
      messagesSent.append(li);
    });
  </script>
</body>
</html> 