<form class="flex" id="messageForm">

  <input
    type="text"
    id="messageInput"
    placeholder="message"
    class="rounded pl-1 w-full"
    data-testid="message-box"
  />

  <button
    type="submit"
    id="messageSend"
    class="bg-green-700 rounded px-1 ml-1"
    data-testid="send-button"
  >
    SEND
  </button>

</form>