<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="chat.css">
  <title>WebChat</title>
</head>
<body>
  <main class="chatbox">
    <div class="chat-data">
      <form class="nicknameForm">
        <input
          class="nickname"
          data-testid="nickname-box"
          type="text"
          placeholder="Insira seu nickname"
        >
        <button data-testid="nickname-button">Salvar</button>
      </form>
      <ul class="onlineUsers-list">
        <li data-testid="online-user" class="onlineUser">
          <%= userNick %>
        </li>
      </ul>
    </div>
    <div class="chat-messages">
      <ul class="messages">
        <% storageMessages.map({message, nickname, timestamp}) => { %>
          <li data-testid="message"><%= timestamp + ' - ' + nickname + ': ' + message %></li>
        <% }) %>
      </ul>
    </div>
  </main>
  <form class="sendMessageForm">
    <input
      class="messageInput"
      data-testid="message-box"
      type="text"
      placeholder="Digite uma nova mensagem aqui"
    >
    <button data-testid="send-button"> Enviar </button>
  </form>

  <script src="/socket.io/socket.io.js"></script>
  <script src="./chat.js"></script>
</body>
</html>