<!DOCTYPE html>
<html>
  <head>
    <title>Webchat</title>
    <link rel="stylesheet" href="./css/chat.css">
  </head>
  <body>
    <ul id='messages'></ul>

    <div>
      <input id="nicknameInput" autocomplete="off" placeholder="Insira seu nickname aqui"/>
      <button id="saveNickname">Salvar</button>
    </div>

    <div>
      <input id="messageInput" autocomplete="off" placeholder="Digite sua mensagem"/>
      <button id="sendMessage">Enviar</button>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="./js/chat.js"></script>

</html>