<!DOCTYPE html>
<html>
  <head>
    <title>Webchat</title>
    <link rel="stylesheet" href="./css/chat.css">
  </head>
  <body>
    <ul id='messages'></ul>

    <div>
      <p>Usuário Online: 
        <ul id="online-user"></ul>
      </p>
      <input id="nicknameInput" data-testid="nickname-box" autocomplete="off" placeholder="Insira seu nickname aqui"/>
      <button id="saveNickname" data-testid="nickname-button">Salvar</button>
    </div>

    <div>
      <input id="messageInput" data-testid="message-box" autocomplete="off" placeholder="Digite sua mensagem"/>
      <button id="sendMessage" data-testid="send-button">Enviar</button>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="./js/chat.js"></script>

</html>